.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store

*.html

lect_03_tues_sept_07_files
lect_04_thurs_sept_09_files
lect_05_tues_sept_14_files
lect_06_thurs_sept_16_files
lect_07_tues_sept_21_files
lect_08_thurs_sept_23_files
lect_09_tues_sept_28_files
lect_10_thurs_sept_30_files


libs